{% style %}
  #shopify-section-{{ section.id }} .review_section {
    background: #91cacc;
    padding: 0 0 100px 0;
  }

  #shopify-section-{{ section.id }} .review_section div#review-carousel {
    margin: -224px auto 0;
    position: relative;
    padding: 45px 0px;
  }

  #shopify-section-{{ section.id }} .review_section .carousel-inner {
    background: #6280c0;
    border: none !important;
    border-radius: 77px;
    padding: 50px 130px;
  }

  #shopify-section-{{ section.id }} .review_section .carousel-inner .revi_desk {
    margin: 0 0 0 20px;
  }

  #shopify-section-{{ section.id }} .review_section .carousel-inner .revi_desk h2.card-title {
    font-family: "RocGrotesk-Regular" !important;
    font-size: 35px;
    position: relative;
    color: #fff;
  }

  #shopify-section-{{ section.id }} .review_section .carousel-inner .revi_desk p {
    font-family: 'Acumin-Pro' !important;
    font-size: 18px;
    position: relative;
    color: #fff;
  }

  #shopify-section-{{ section.id }} .review_section .carousel-inner .revi_desk h5 {
    font-family: "RocGrotesk-Regular" !important;
    font-size: 22px;
    position: relative;
    color: #fff;
  }
  #shopify-section-{{ section.id }} .review_section .carousel-inner .carousel-item .card-item {
    display: flex;
    align-items: center;
  }
  #shopify-section-{{ section.id }} .carousel-control-next-icon {
    background-image: url({{ 'next.png' | asset_url }});
    width: 33px;
    height: 24px;
  }
  #shopify-section-{{ section.id }} .carousel-control-prev-icon {
    background-image: url({{ 'prev.png' | asset_url }});
    width: 33px;
    height: 24px;
  }
  @media (max-width: 1000px) {
    #shopify-section-{{ section.id }} .review_section .carousel-inner .carousel-item .card-item {
      flex-direction: column;
    }
    #shopify-section-{{ section.id }} .carousel-control-next-icon {
      position: absolute;
      top: 140px;
      left: 10px;
    }
    #shopify-section-{{ section.id }} .carousel-control-prev-icon {
      position: absolute;
      top: 140px;
      right: 10px;
    }
    #shopify-section-{{ section.id }} .review_section .carousel-inner {
      padding: 50px 0px;
    }
    #shopify-section-{{ section.id }} .review_section .review-text-box {
      width: 100%;
      padding: 0px 50px;
    }
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .review_section div#review-carousel {
      padding: 0px ;
    }
    #shopify-section-{{ section.id }} .review_section .image-box {
      display: flex;
      justify-content: center;
      width: 223px;
    }
    #shopify-section-{{ section.id }} .carousel-control-next-icon {
      position: absolute;
      top: 28px;
      left: 10px;
    }
    #shopify-section-{{ section.id }} .carousel-control-prev-icon {
      position: absolute;
      top: 28px;
      right: 10px;
    }
  }
  @media (max-width: 500px) {
    #shopify-section-{{ section.id }} .carousel-control-next-icon {
      position: absolute;
      top: 20px;
      left: -5px;
      width: 23px;
      height: 20px;
    }
    #shopify-section-{{ section.id }} .carousel-control-prev-icon {
      position: absolute;
      top: 20px;
      right: -5px;
      width: 23px;
      height: 20px;
    }
    #shopify-section-{{ section.id }} .container,
    #shopify-section-{{ section.id }} .page-width {
        padding: 0px;
      }
      #shopify-section-{{ section.id }} .review_section .carousel-inner .revi_desk h2.card-title {
      font-size: 24px;
      margin-bottom: 7px !important;
    }

    #shopify-section-{{ section.id }} .review_section .carousel-inner .revi_desk p {
      font-size: 13px;
    }

    #shopify-section-{{ section.id }} .review_section .carousel-inner .revi_desk h5 {
      font-size: 18px;
    }
    #shopify-section-{{ section.id }} .review_section .review-text-box {
      padding: 0px 15px;
    }
    #shopify-section-{{ section.id }} .review_section .carousel-inner .revi_desk {
      margin-top: 20px;
      padding: 0px 15px;
    }
  }
{% endstyle %}

<section class="review_section">
  <div class="container">
    <div class="row justify-content-center page-width">
      <div id="review-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
              <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
                <div class="row card-item">
                  <div class="col-md-4 col-lg-4 image-box">
                    {% if block.settings.image != blank %}
                      <img
                        src="{{ block.settings.image | image_url : width: 350  }}"
                        class="img-fluid"
                        alt="Reviewer Image"
                      >
                    {% endif %}
                  </div>
                  <div class="col-md-8 col-lg-8 review-text-box">
                    <div class="revi_desk">
                      {% if block.settings.username != blank %}
                        <h2 class="card-title mb-4">{{ block.settings.username }}</h2>
                      {% endif %}
                      <p class="card-text  mb-5">
                        {% if block.settings.text != blank %}
                          {{ block.settings.text }}
                        {% endif %}
                      </p>
                      {% if block.settings.nickname != blank %}
                        <h5 class="card-title  mt-2">{{ block.settings.nickname }}</h5>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#review-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#review-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Review",
  "settings": [],
  "blocks": [
    {
      "type": "block_text",
      "name": "Block text",
      "settings": [
        {
          "type": "text",
          "id": "username",
          "label": "User name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "nickname",
          "label": "Nickname"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Review"
    }
  ]
}
{% endschema %}
