{% style %}
  #shopify-section-{{ section.id }} section.oral_plan {
    background-color: #91cacc;
  }

  #shopify-section-{{ section.id }} section.oral_plan h2.section_title {
    font-family: "RocGrotesk-Bold";
    font-size: 44px;
    line-height: 60px;
    margin-top: 70px;
  }

  #shopify-section-{{ section.id }} section.oral_plan .bb {
    border-bottom: 2px solid #fff;
    padding: 0px 0 20px 0;
    margin: 0 0 20px 0;
  }

  #shopify-section-{{ section.id }} section.oral_plan h4.block-title {
    font-family: "RocGrotesk-Regular";
    font-size: 31px;
    font-weight: 600;
    margin: 0;
  }

  #shopify-section-{{ section.id }} section.oral_plan p.block-text {
    font-size: 18px;
    color: #000;
    line-height: 23px;
    letter-spacing: initial;
    font-family: "Acumin-Pro";
    font-weight: 400;
  }

  @media(max-width: 1800px) {
    #shopify-section-{{ section.id }} .main-image {
      margin-left: -110px;
    }
  }
  @media(max-width: 1500px) {
    #shopify-section-{{ section.id }} .main-image {
      width: 465px;
      margin-top: 140px;
    }
  }
  @media(max-width: 1200px) {
    #shopify-section-{{ section.id }} .main-image {
      width: 425px;
    }
  }
  @media(max-width: 999px) {
    #shopify-section-{{ section.id }} .section-content {
      flex-direction: column;
      align-items: center;
    }
    #shopify-section-{{ section.id }} .section-content > div {
      width: 100%;
      padding: 0px 25px;
    }
    #shopify-section-{{ section.id }} .main-image {
      margin-left: 0px;
      margin-top: 0px;
    }
    #shopify-section-{{ section.id }} section.oral_plan h2.section_title {
      margin-top: 0px;
    }
    #shopify-section-{{ section.id }} section.oral_plan .image-wrap {
      display: flex;
      justify-content: center;
    }
  }
  @media(max-width: 500px) {
    #shopify-section-{{ section.id }} section.oral_plan h2.section_title {
      font-size: 30px;
      line-height: 35px;
      margin-top: 36px;
    }

    #shopify-section-{{ section.id }} section.oral_plan h4.block-title {
      font-size: 18px;
      font-weight: normal;
    }

    #shopify-section-{{ section.id }} section.oral_plan p.block-text {
      font-size: 12px;
      line-height: 16px;
    }
    #shopify-section-{{ section.id }} .main-image {
      width: 315px;
    }
    #shopify-section-{{ section.id }} section.oral_plan .bb {
      border-bottom: 1px solid #fff;
    }
  }
{% endstyle %}

<section class="oral_plan p-0">
  <div class="container">
    <div class="row section-content">
      <div class="col-lg-7 col-md-12">
        <h2 class="section_title text-left d-block mb-5">
          {% if section.settings.heading != blank %}
            {{ section.settings.heading }}
          {% endif %}
        </h2>
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            <div class="row bb">
              <div class="col-md-5 col-lg-5">
                <h4 class="block-title">
                  {% if block.settings.title != blank %}
                    {{ block.settings.title }}
                  {% endif %}
                </h4>
              </div>
              <div class="col-md-7 col-lg-7">
                <p class="block-text">
                  {% if block.settings.text != blank %}
                    {{ block.settings.text }}
                  {% endif %}
                </p>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-4 col-md-12 image-wrap">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | image_url: width: 1000 }}" class="main-image photo">
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Oral Plan",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "block_text",
      "name": "Block text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Oral Plan"
    }
  ]
}
{% endschema %}
