{% style %}
  #shopify-section-{{ section.id }} section.oral_plan {
    background-color: #91cacc;
  }

  #shopify-section-{{ section.id }} section.oral_plan h2.section_title {
    font-family: "RocGrotesk-Bold";
    font-size: 44px;
    line-height: 60px;
  }

  #shopify-section-{{ section.id }} section.oral_plan .bb {
    border-bottom: 2px solid #fff;
    padding: 0px 0 20px 0;
    margin: 0 0 20px 0;
  }

  #shopify-section-{{ section.id }} section.oral_plan h4.block-title {
    font-family: "RocGrotesk-Regular";
    font-size: 31px;
    font-weight: 600;
    margin: 0;
  }

  #shopify-section-{{ section.id }} section.oral_plan p.block-text {
    font-size: 18px;
    color: #000;
    line-height: 23px;
    letter-spacing: initial;
    font-family: "Acumin Pro";
    font-weight: 400;
  }
{% endstyle %}

<section class="oral_plan p-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="section_title text-left d-block mb-5">
          {% if section.settings.heading != blank %}
            {{ section.settings.heading }}
          {% endif %}
        </h2>
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            <div class="row bb">
              <div class="col-md-5 col-lg-5">
                <h4 class="block-title">
                  {% if block.settings.title != blank %}
                    {{ block.settings.title }}
                  {% endif %}
                </h4>
              </div>
              <div class="col-md-7 col-lg-7">
                <p class="block-text">
                  {% if block.settings.text != blank %}
                    {{ block.settings.text }}
                  {% endif %}
                </p>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-4">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | image_url: width: 1000 }}" class="photo">
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% comment %}
  <section class="testing_process">
      <div class="container">
        <h2 style="font-family:;">Testing is easy</h2>
        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="img_bx">
                <img src="{{ '01.png' | asset_url }}" class="img-fluid photo" />
                <span>Order your test</span>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="img_bx md-no">
                <img src="{{ '02.png' | asset_url }}" class="img-fluid photo" />
                <span>Collect your sample</span>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="img_bx">
                <img src="{{ '03.png' | asset_url }}" class="img-fluid photo" />
                <span>Send to analysis lab</span>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="img_bx no">
                <img src="{{ '04.png' | asset_url }}" class="img-fluid photo" />
                <span>View personalized results </span>
              </div>
            </div>

        </div>
      </div>
  </section>
{% endcomment %}

{% schema %}
{
  "name": "Oral Plan",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "block_text",
      "name": "Block text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Oral Plan"
    }
  ]
}
{% endschema %}
