{% schema %}
  {
    "name": "Oral Plan",
    "settings": []
  }
{% endschema %}
<section class="oral_plan p-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2 class="section_title text-left d-block mb-5">
           Why test your oral health with peri?
        </h2>
          <div class="row bb">
              <div class="col-md-5 col-lg-5">
                <h4>Preventative</h4>
              </div>
              <div class="col-md-7 col-lg-7">
                <p>
                  Early detection of bacteria associated with tooth decay and gum disease.
                </p>
              </div>
          </div>
        <div class="row bb">
              <div class="col-md-5 col-lg-5">
                <h4>Affordable</h4>
              </div>
              <div class="col-md-7 col-lg-7">
                <p>
                  Get a comprehensive look at your oral health before spending hundreds on dental treatment.
                </p>
              </div>
          </div>
        <div class="row bb">
              <div class="col-md-5 col-lg-5">
                <h4>Easy</h4>
              </div>
              <div class="col-md-7 col-lg-7">
                <p>
                  Take the test at home in as little as 3 minutes.
                </p>
              </div>
          </div>
        <div class="row">
              <div class="col-md-5 col-lg-5">
                <h4>Actionable</h4>
              </div>
              <div class="col-md-7 col-lg-7">
                <p>
                  Get personalized, actionable oral hygiene, diet, lifestyle, and product recommendations
                  from an actual dentist based on your results.
                </p>
              </div>
          </div>
        
        </div>
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-4">
          <img src="{{ 'plan.png' | asset_url }}" class="img-fluid photo" />
        </div>
      </div>
    </div>
</section>


<section class="testing_process">
    <div class="container">
      <h2 style="font-family:RocGrotesk-Medium;">Testing is easy</h2>
      <div class="row justify-content-center">
          
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="img_bx">
              <img src="{{ '01.png' | asset_url }}" class="img-fluid photo" />
              <span>Order your test</span>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="img_bx md-no">
              <img src="{{ '02.png' | asset_url }}" class="img-fluid photo" />
              <span>Collect your sample</span>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="img_bx">
              <img src="{{ '03.png' | asset_url }}" class="img-fluid photo" />
              <span>Send to analysis lab</span>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="img_bx no">
              <img src="{{ '04.png' | asset_url }}" class="img-fluid photo" />
              <span>View personalized results </span>
            </div>
          </div>
        
      </div>
    </div>
</section>

{% stylesheet %}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}