{% style %}
  /* section two */
  #shopify-section-{{ section.id }} {
    padding: 0px;
  }
  
  #shopify-section-{{ section.id }} section.sec-2 {
    background-color: #eff7f7;
    position: relative;
    padding: 100px 0 100px 0;
  }

  #shopify-section-{{ section.id }} section.sec-2:after,
  #shopify-section-{{ section.id }} section.sec-2:before {
    content: '';
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
  }

  #shopify-section-{{ section.id }} section.sec-2:before {
    background-image: url({{ section.settings.left_image | image_url: width: 500 }});
    width: 150px;
    background-position: 0px 0px;
    left: -60px;
    top: 170px;
    height: 270px;
  }

  #shopify-section-{{ section.id }} section.sec-2:after {
    background-image: url({{ section.settings.right_image | image_url: width: 500 }});
    width: 270px;
    background-position: 20px 0px;
    right: 0;
    bottom: 290px;
    height: 270px;
  }

  #shopify-section-{{ section.id }} section.sec-2 .sec_area {
    padding: 0 90px 0 50px;
  }

  #shopify-section-{{ section.id }} section.sec-2 .photo {
    margin: -35px 0 0 50px;
  }

  #shopify-section-{{ section.id }} section.sec-2 .sec_area h2.section_title {
    font-family: 'RocGrotesk-Bold';
    font-size: 39px;
    position: relative;
    line-height: 50px;
  }

  #shopify-section-{{ section.id }} section.sec-2 .sec_area p {
    font-size: 22px;
    color: #000;
    line-height: 30px;
    letter-spacing: initial;
    font-family: 'RocGrotesk-Regular' !important;
    font-weight: 500;
  }

  #shopify-section-{{ section.id }} section.sec-2 .sec_area h2.section_title:before {
    content: '';
    background-image: url({{ section.settings.title_image | image_url: width: 300 }});
    height: 60px;
    width: 60px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    left: -70px;
    top: 5px;
  }

  #shopify-section-{{ section.id }} section.sec-2 .sec_area .ul_list {
    margin: 0;
    padding: 0;
  }

  #shopify-section-{{ section.id }} section.sec-2 .sec_area .ul_list li {
    position: relative;
    list-style: none;
    font-size: 21px;
    color: #000;
    line-height: 26px;
    font-family: 'RocGrotesk-Regular';
    font-weight: 500;
    padding: 0 0 0 30px;
    margin: 20px 0;
  }

  #shopify-section-{{ section.id }} section.sec-2 .sec_area .ul_list li::before {
    content: '';
    background-image: url({{ 'chk.jpg' | asset_url }});
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: 0;
  }
  #shopify-section-{{ section.id }} img.main-left-image {
    width: 513px;
  }
  @media (max-width: 1200px) {
    #shopify-section-{{ section.id }} img.main-left-image {
      width: 400px;
      margin-left: 100px !important;
    }
  }
  @media (max-width: 991px) {
    #shopify-section-{{ section.id }} section.sec-2:after {
      background-image: unset;
    }
    #shopify-section-{{ section.id }} section.sec-2:before {
      bottom: 385px;
      top: unset;
    }
    #shopify-section-{{ section.id }} .section-main-image {
      display: flex;
      justify-content: center;
    }
    #shopify-section-{{ section.id }} .container {
      /* padding: 0px 0px 0px 85px; */
      padding-left: 75px;
    }
  }
  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding: 0px !important;
    }
  }
  @media (max-width: 500px) {
    #shopify-section-{{ section.id }} section.sec-2 .sec_area h2.section_title {
      font-size: 28px;
      line-height: 32px;
    }
    #shopify-section-{{ section.id }} section.sec-2 .sec_area p {
      font-size: 16px;
      line-height: 22px;
    }
    #shopify-section-{{ section.id }} section.sec-2 .sec_area .ul_list li {
      font-size: 14px;
      margin: 6px 0;
    }
    #shopify-section-{{ section.id }} section.sec-2 .sec_area {
      padding: 0px;
    }
    #shopify-section-{{ section.id }} img.main-left-image {
      width: 264px;
      margin-left: -35px !important;
    }
    #shopify-section-{{ section.id }} section.sec-2:before {
      width: 118px;
      background-position: 0px 0px;
      left: -62px;
      height: 200px;
    }
    #shopify-section-{{ section.id }} section.sec-2 .sec_area h2.section_title:before {
      width: 46px;
      left: -53px;
    }
  }
{% endstyle %}

<section class="sec-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 order-3 order-lg-1 section-main-image">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | image_url: width: 1000 }}" class="main-left-image photo">
        {% endif %}
      </div>
      <div class="col-lg-2 order-2 order-lg-2">&nbsp;</div>
      <div class="col-lg-6 order-1 order-lg-3">
        <div class="row">
          <div class="sec_area">
            <h2 class="section_title {{ section.settings.text_align }} d-block mb-5">
              {% if section.settings.heading != blank %}
                {{ section.settings.heading }}
              {% endif %}
            </h2>
            {% if section.settings.list_text != blank %}
              <p>{{ section.settings.list_text }}</p>
            {% endif %}
            <div class="col-lg-12">
              <ul class="ul_list">
                {% if section.blocks.size > 0 %}
                  {% for block in section.blocks %}
                    {% if block.settings.text != blank %}
                      <li>{{ block.settings.text }}</li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Process",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
        "type": "select",
        "id": "text_align",
        "label": "Text align",
        "options": [
          {
            "value": "text_left",
            "label": "Text left"
          },
          {
            "value": "text_center",
            "label": "Text center"
          },
          {
            "value": "text_right",
            "label": "Text right"
          }
        ],
        "default": "text_left"
    },
    {
      "type": "image_picker",
      "id": "title_image",
      "label": "Heading Image"
    },
    {
      "type": "text",
      "id": "list_text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main image"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right image"
    }
  ],
  "blocks": [
    {
      "type": "block_text",
      "name": "Block text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Process"
    }
  ]
}
{% endschema %}
