{% style %}
   #shopify-section-{{ section.id }} .doc_review {
    background-color: #7ccce7;
  }

  #shopify-section-{{ section.id }} .doc_review span.quote2 img {
    transform: rotate(180deg);
  }

   #shopify-section-{{ section.id }} .doc_review h4,
   #shopify-section-{{ section.id }} .doc_review h4 * {
    font-size: 29px;
    font-family: "RocGrotesk-Bold" !important;
    line-height: 35px;
  }
  #shopify-section-{{ section.id }} .review-wrap {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 0px 20px;
  }
  #shopify-section-{{ section.id }} .review-wrap .quote1 {
    margin-top: -208px;
    max-width: 90px;
  }
  #shopify-section-{{ section.id }} .review-wrap .quote2 {
    margin-top: -73px;
    max-width: 90px;
  }
  @media(max-width: 767px) {
    #shopify-section-{{ section.id }} .doc_review h4,
    #shopify-section-{{ section.id }} .doc_review h4 * {
      font-size: 20px;
      line-height: 25px;
    }
    #shopify-section-{{ section.id }} .doc_review .img-fluid {
      width: 100%;
    }
    #shopify-section-{{ section.id }} .review-wrap {
      margin-top: 30px;
    }
    #shopify-section-{{ section.id }} .review-wrap .quote1,
    #shopify-section-{{ section.id }} .review-wrap .quote2 {
      max-width: 50px;
    }
  }
  @media(max-width: 375px) {
    #shopify-section-{{ section.id }} .doc_review h4,
    #shopify-section-{{ section.id }} .doc_review h4 * {
      width: 260px;
    }
    #shopify-section-{{ section.id }} .review-wrap .quote1 {
      margin-top: -286px;
    }
    #shopify-section-{{ section.id }} .review-wrap .quote2 {
      margin-bottom: -270px;
    }
    #shopify-section-{{ section.id }} .review-wrap {
      padding: 30px 20px;
      margin-top: 20px;
    }
  }
{% endstyle %}

<section class="doc_review p-0 m-0 row justify-content-center">
  <div class="col-sm-12 col-md-4 col-lg-4 p-0">
    {% if section.settings.image != blank %}
      <img src="{{ section.settings.image | image_url: width: 800 }}" class="img-fluid">
    {% endif %}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="align-items-center review-wrap">
      <div class="quote1">
        <img src="{{ 'left.png' | asset_url }}" class="img-fluid">
      </div>
      <div class="text-center ">
        {% if section.settings.text != blank %}
          <h4 class="mb-5 d-block">{{ section.settings.text }}</h4>
        {% endif %}
        {% if section.settings.name != blank %}
          <h4 class="mb-5 d-block">{{ section.settings.name }}</h4>
        {% endif %}
      </div>
      <div class="quote2">
        <img src="{{ 'right.png' | asset_url }}" class="img-fluid">
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Single review",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Single review"
    }
  ]
}
{% endschema %}
