{% style %}
   #shopify-section-{{ section.id }} .doc_review {
    background-color: #7ccce7;
  }

   #shopify-section-{{ section.id }} .doc_review span.quote1 {
    padding: 0px 0 50px 20px;
    display: block;
  }

   #shopify-section-{{ section.id }} .doc_review span.quote2 img {
    transform: rotate(180deg);
  }

   #shopify-section-{{ section.id }} .doc_review h4 {
    font-size: 29px;
    font-family: "RocGrotesk-Regular";
    line-height: 35px;
  }
{% endstyle %}

<section class= "doc_review p-0 m-0 row justify-content-center">
  <div class="col-sm-12 col-md-4 col-lg-4 p-0">
    {% if section.settings.image != blank %}
      <img src="{{ section.settings.image | image_url: width: 800 }}" class="img-fluid">
    {% endif %}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="row h-100 align-items-center">
      <div class="col-lg-3">
        <span class="quote1">
          <img src="{{ 'left.png' | asset_url }}" class="img-fluid">
        </span>
      </div>
      <div class="col-lg-6 text-center ">
        {% if section.settings.text != blank %}
          <h4 class="mb-5 d-block">{{ section.settings.text }}</h4>
        {% endif %}
        {% if section.settings.name != blank %}
          <h4 class="mb-5 d-block">{{ section.settings.name }}</h4>
        {% endif %}
      </div>
      <div class="col-lg-3">
        <span class="quote2">
          <img src="{{ 'right.png' | asset_url }}" class="img-fluid">
        </span>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Single review",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Single review"
    }
  ]
}
{% endschema %}
